$color-icon: #666;
$color-border: #E6E6E6;
$color-description: #757575;

$color-mat-button-toggle-checked-background: #2E85D2;
$color-mat-button-toggle-checked: #FFF;

$color-fastest: #03A9F4;
$color-cheapest: #FF9800;